<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>

        <!-- ROS 2 CONTROL -->
        <plugin
            filename="libign_ros2_control-system.so"
            name="ign_ros2_control::IgnitionROS2ControlPlugin">

            <parameters>
                $(find so101_controller)/config/so101_controllers.yaml
            </parameters>

        </plugin>

        <!-- DETACHABLE GRASP JOINT -->
        <plugin
            filename="ignition-gazebo-detachable-joint-system"
            name="ignition::gazebo::systems::DetachableJoint">

            <parent_link>gripper_link</parent_link>
            <child_model>red_block</child_model>
            <child_link>block_link</child_link>

            <detach_topic>/red_block/detach</detach_topic>
            <attach_topic>/red_block/attach</attach_topic>

            <output_topic>/red_block/state</output_topic>

            <suppress_child_warning>true</suppress_child_warning>

        </plugin>

    </gazebo>

</robot>
